/* @import './components/_normalize.css'; */

:root {
  --fonts: "open sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --bold: 900;
  --f-regular: 300;
  /*  colors */
  --black: #000;
  --yellow: #fed631;
  /*  White spaces */
  --def-transition: 0.3s ease-in;
}

html {
  box-sizing: border-box;
  /* background: var(--black); */
  /* color: var(--white); */
  font-family: var(--fonts);
  color: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h2,
h3,
h4 {
  font-weight: var(--bold);
}

p {
  font-weight: var(--f-regular);
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

img {
  width: 100%;
}

body {
  margin: 0;
  /* display: flex;
  height: 4rem;
  color: var(--red);
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 9px;
  margin-left: 20px;
  & p {
    color: red;
  } */
}

main {
  /* background: green;
margin-top: 10px;
margin-right: 20px;
margin-bottom: 9px;
margin-left: 20px; */
}

/*==========================
=== Header / Navigation
===========================*/

header {
  background: var(--yellow);
  min-height: 40vh;
  /* display: block; */
  /* width: 100%; */
  & ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1.5rem;
  }
  /* & li {
    &:first-of-type {
        & a {
            padding-left: 0;
            padding-right: 1rem;
        }
    }
    &:last-of-type {
        & a {
            padding-left: 1rem;
            padding-right: 0;
        }
    }
} */
  & a {
    display: inline-block;
    position: relative;
    padding: 0 1rem;
    padding-bottom: 0.3rem;
    font-weight: var(--bold);
    overflow-y: hidden;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 0.2rem;
      width: 30%;
      background: var(--black);
      transform: translateY(0.3rem);
      transition: transform var(--def-transition);
    }
    &:focus,
    &:hover {
      &::after {
        transform: translateY(0);
      }
    }
  }
  & h2 {
    margin-top: 2rem;
    margin-left: -0.7rem;
    margin-right: 5%;
    padding-bottom: 3rem;
    font-size: 6rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /* -webkit-hyphens: auto; */
    /* -moz-hyphens: auto; */
    hyphens: auto;
  }
}

.hero__container {
  min-height: 90vh;
}

@media all and (min-width: 40em) {
  header {
    & h2 {
      font-size: 8rem;
    }
  }
}

/*==========================
=== Content block / Text
===========================*/

main {
  & section {
    position: relative;
    padding: 0 1rem;

    & h3 {
      position: relative;
      font-size: 4rem;
      line-height: 0.9;
      padding-left: 1rem;
      padding-bottom: 0.5rem; // z-index: 10;
      word-wrap: break-word;
      overflow-wrap: break-word;
      /* -webkit-hyphens: auto; */
      /* -moz-hyphens: auto; */
      hyphens: auto;
      &::before {
        content: "";
        position: absolute;
        left: -1rem;
        bottom: 0;
        height: 1.5rem;
        width: 8rem;
        background: var(--yellow);
        z-index: -10;
      }
    }

    & p {
      position: relative;
      font-size: 1.1rem; // margin-left: 1rem;
    }
    & > p {
      &:first-of-type {
        //   color: red;
        margin-left: 2rem;
        &::before {
          content: "";
          position: absolute;
          left: -1rem;
          bottom: 0;
          height: 100%;
          width: 0.3rem;
          background: var(--yellow);
        }
      }
      & button {
        position: absolute;
        left: -2.4rem;
        bottom: 0;
        height: 100%;
        width: 1.3rem;
        color: var(--yellow);
        font-size: 1.2rem;
        background: transparent;
        border: none;
        padding: 0;
        text-transform: uppercase;
        & span {
          font-weight: var(--bold);
          position: absolute;
          left: 0;
          bottom: 0;
          writing-mode: vertical-lr;
          transform: rotate(180deg);
          text-align: center;
          text-orientation: sideways;
        }
      }
    }
  }
}

@media all and (min-width: 40em) {
  main {
    & section {
      & img {
        display: block;
        max-width: 60%;
        max-height: 24rem;
        width: auto;
        height: auto;
        object-fit: contain;
        padding-right: 2rem;
      }
      & ul {
        padding-left: 10%;
      }
      & h3 {
        padding-left: 2.5rem;
        &::before {
          width: 14rem;
        }
      }
      & p {
        font-size: 1.3rem;
        max-width: 32em;
      }
    }

    & aside {
      display: flex;
      margin-top: 1rem;
      transform: translateX(-5rem);
      width: calc(100% + 5rem);

      & img {
        align-self: flex-start;
        //   transform: translateX(-10rem);
      }

      & p {
        margin: 0;
        //   transform: translateX(-10rem);
      }
    }
  }
}

/*==========================
=== Content block / Program
===========================*/

.program__container {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2.6rem;
    width: 60vw;
    max-width: 28rem;
    height: 87%;
    background: var(--yellow);
    z-index: -10;
  }
  & h3 {
    margin-left: -1.5rem;
    font-size: 4rem;
    &::before {
      display: none;
    }
  }
  & h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  & p {
    margin-left: 2rem;
  }
  & > p {
    &:first-of-type {
      // margin: 1em 0;
      &::before {
        display: none;
      }
    }
  }
  & a {
    font-weight: var(--bold);
  }
  &:nth-of-type(even) {
    //  background: red;
    &::before {
      left: 30%; // right: 2.6;
    }
    & h3 {
      margin-left: 20%;
    }
  }
  &:last-of-type {
    margin-bottom: 4rem;
  }
}

@media all and (min-width: 40em) {
  .program__container {
    &::before {
    }
    & h3 {
      margin-left: -2rem;
      font-size: 6rem;
    }
    & h4 {
      font-size: 3rem;
    }
    & p {
      &:first-of-type {
      }
    }
    &:nth-of-type(even) {
      &::before {
        left: 48%; // right: 2.6;
      }
      & h3 {
        margin-left: 30%;
      }
      & ul {
        padding-left: 20%;
      }
    }
    &:last-of-type {
    }
  }
}
