/* @import './components/_normalize.css'; */

:root {
	--fonts: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Helvetica Neue', sans-serif;
	--bold: 900;
	--f-regular: 300;
	/*  colors */
	--black: #000;
	--white: #fff;
	--grey: #a0a0a0;
	--yellow: #fed631;
	/*  White spaces */
	--def-transition: 0.2s ease-in;
}

html {
	box-sizing: border-box;
	/* background: var(--black); */
	/* color: var(--white); */
	font-family: var(--fonts);
	color: var(--black);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h2,
h3,
h4 {
	font-weight: var(--bold);
}

p,
li,
blockquote {
	font-weight: var(--f-regular);
	line-height: 1.6;
}

a {
	text-decoration: none;
	color: var(--black);
}

li {
	list-style: none;
}

img {
	width: 100%;
}

body {
	margin: 0;
}

label {
	cursor: pointer;
}

input,
textarea {
	font-family: var(--fonts);
	font-weight: var(--f-regular);
}

/*==========================
=== Keyframes
===========================*/

@keyframes hide-testimonials {
	from {
		visibility: visible;
		opacity: 1;
		transform: translateY(0rem);
	}
	to {
		visibility: hidden;
		opacity: 0;
		transform: translateY(6rem);
	}
}

@keyframes show-testimonials {
	from {
		visibility: hidden;
		opacity: 0;
		transform: translateY(6rem);
	}
	to {
		visibility: visible;
		opacity: 1;
		transform: translateY(0rem);
	}
}

@keyframes hide-more-info {
	from {
		opacity: 1;
		width: 50%;
		transform: translateY(0rem);
	}
	to {
		opacity: 0;
		width: 0%;
		transform: translateY(-6rem);
	}
}

@keyframes show-more-info {
	from {
		opacity: 0;
		width: 0%;
		transform: translateY(-6rem);
	}
	to {
		opacity: 1;
		width: 50%;
		transform: translateY(0rem);
	}
}

/*==========================
=== Header / Navigation
===========================*/

header {
	background: var(--yellow);
	min-height: 35vh;
	& ul {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 1.5rem;
	}
	& a {
		display: inline-block;
		position: relative;
		font-size: 0.8rem;
		padding: 0 1rem;
		padding-bottom: 0.3rem;
		font-weight: var(--bold);
		overflow-y: hidden;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			height: 0.2rem;
			width: 30%;
			background: var(--black);
			transform: translateY(0.3rem);
			transition: transform var(--def-transition);
		}
		&:focus,
		&:hover {
			&::after {
				transform: translateY(0);
			}
		}
	}
	& h2 {
		margin-top: 2rem;
		margin-left: -0.7rem;
		margin-right: 5%;
		padding-bottom: 3rem;
		font-size: 5rem;
		word-wrap: break-word;
		overflow-wrap: break-word;
		hyphens: auto;
	}
}

.hero__container {
	min-height: 70vh;
}

.header__icon--surveillance {
	position: absolute;
	right: 0;
	top: 4rem;
	width: 20vw;
}

@media all and (min-width: 40em) {
	header {
		& h2 {
			font-size: 8rem;
		}

		& a {
			font-size: 1rem;
		}
	}
	.header__icon--surveillance {
		top: 2rem;
		width: 12rem;
	}
}

/*==========================
=== Content block / Text (Default)
===========================*/

main {
	& section {
		position: relative;
		padding: 0 1rem;
		& h3 {
			position: relative;
			font-size: 3rem;
			line-height: 0.9;
			padding-left: 1rem;
			padding-bottom: 0.5rem;
			/* z-index: 10; */
			word-wrap: break-word;
			overflow-wrap: break-word;
			hyphens: auto;
			&::before {
				content: '';
				position: absolute;
				left: -1rem;
				bottom: 0;
				height: 1.5rem;
				width: 8rem;
				background: var(--yellow);
				z-index: -10;
			}
		}
		& p {
			position: relative;
			font-size: 1.1rem;
		}
		& > p {
			&:first-of-type {
				/* color: red; */
				margin-left: 2rem;
				&::before {
					content: '';
					position: absolute;
					left: -1rem;
					bottom: 0;
					height: 100%;
					width: 0.3rem;
					background: var(--yellow);
				}
			}
		}
		& aside {
			& p:not(:first-of-type) {
				margin-top: 1.5rem;
			}
		}
	}
}

@media all and (min-width: 40em) {
	main {
		& section {
			overflow: hidden;
			& img {
				display: block;
				max-width: 60%;
				max-height: 24rem;
				width: auto;
				height: auto;
				object-fit: contain;
				padding-right: 2rem;
			}
			& ul {
				padding-left: 10%;
			}
			& h3 {
				font-size: 4rem;
				padding-left: 2.5rem;
				&::before {
					width: 14rem;
				}
			}
			& p {
				font-size: 1.3rem;
				max-width: 32em;
			}
			& aside {
				display: flex;
				margin-top: 1rem;
				transform: translateX(-5rem);
				width: calc(100% + 5rem);
				overflow: hidden;
				& img {
					align-self: flex-start;
				}
				& p {
					margin: 0;
				}
			}

			&:nth-of-type(2n + 0) {
				& img {
					padding-left: 2rem;
					transition: transform var(--def-transition);
				}
				& aside {
					transform: translateX(5rem);
				}
			}
		}
	}
}

/*==========================
=== Testimonials
===========================*/

.testimonials__container {
	padding: 0;
	& h3 {
		padding: 0 3.5rem;
		padding-bottom: 0.5rem;
	}
	& form {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		font-size: 1.1rem;
		font-weight: var(--bold);
		margin-bottom: 4rem;
		width: 100%;
		min-height: 8rem;
		overflow-x: auto;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	& [type='radio'] {
		position: absolute;
		left: -300%;
		& + label {
			position: relative;
			display: inline-block;
			flex: 0 0 40%;
			padding: 1rem;
			box-shadow: inset 0 0 0 3px var(--yellow);
			transition: background var(--def-transition);

			&:hover,
			&:focus {
				background: var(--yellow);
			}
		}
		&:checked + label {
			background: var(--yellow);
		}
	}
	& ul {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		font-weight: var(--f-regular);
	}
	& blockquote {
		font-size: 1.1rem;
		margin: 0;
		margin-bottom: 2.5rem;
	}
	& li {
		position: relative;
	}
	& .icon__quote {
		position: absolute;
		width: 4rem;
		z-index: -10;
		transform: translate(-25%, -30%);
		&:nth-of-type(even) {
			right: 0;
			bottom: 0;
			transform: translate(-25%, -30%) rotate(180deg);
		}
	}
}

@media all and (min-width: 40em) {
	.testimonials__container {
		& form {
			flex-direction: row;
			font-size: 1.3rem;
		}
		& [type='radio'] {
			& + label {
				flex-basis: 30%;
			}
			&:checked + label {
			}
		}
		& blockquote {
			max-width: 32em;
			font-size: 1.3rem;
			&:nth-of-type(even) {
				margin-left: auto;
			}
		}
		& ul {
			max-width: 70rem;
			margin: auto;
			padding: 1rem 3rem;
		}
	}
}

/*==========================
=== Content block / Program
===========================*/

.program__container {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 2.6rem;
		width: 60vw;
		max-width: 28rem;
		height: 87%;
		background: var(--yellow);
		z-index: -10;
	}
	& h3 {
		margin-left: -1.5rem;
		font-size: 4rem;
		&::before {
			display: none;
		}
	}
	& h4 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	& p {
		margin-left: 2rem;
	}
	& > p {
		&:first-of-type {
			/* margin: 1em 0; */
			&::before {
				display: none;
			}
		}
	}
	& a {
		font-weight: var(--bold);
		transition: var(--def-transition);
		&:hover,
		&:focus {
			color: var(--yellow);
		}
	}
	&:nth-of-type(even) {
		/* background: red; */
		&::before {
			left: 30%;
			/* right: 2.6; */
		}
		& h3 {
			margin-left: 20%;
		}
	}
	&:last-of-type {
		margin-bottom: 4rem;
	}
}

@media all and (min-width: 40em) {
	.program__container {
		&::before {
		}
		& h3 {
			margin-left: -2rem;
			font-size: 6rem;
		}
		& h4 {
			font-size: 3rem;
		}
		& p {
			&:first-of-type {
			}
		}
		&:nth-of-type(even) {
			&::before {
				left: 48%;
			}
			& h3 {
				margin-left: 30%;
			}
			& ul {
				padding-left: 20%;
			}
		}
		&:last-of-type {
		}
	}
}

/*==========================
=== Form styles
===========================*/

.form__container {
	margin-bottom: 4rem;

	& img {
		display: none;
	}

	& form {
		display: flex;
		flex-direction: column;
		font-size: 1.1rem;
		max-width: 42rem;

		& div {
			display: block;
			position: relative;
			margin-bottom: 1.5rem;

			& span {
				overflow-x: hidden;
				height: 0.15rem;
				width: 100%;
				position: absolute;
				bottom: 0;
				background: var(--grey);

				&:before {
					content: '';
					position: absolute;
					height: 0.15rem;
					width: 100%;
					transform: translateX(-100%);
					background: var(--yellow);
					transition: var(--def-transition);
					transition-duration: 0.1s;
				}
			}
		}

		& input,
		& textarea {
			font-size: 1.1rem;
			border: none;
			padding: 1.2rem 1rem;
			width: 100%;
			background: none;

			&:valid {
				& + label {
					top: 0.2rem;
					font-size: 0.7rem;
					font-weight: 700;
				}

				& ~ svg {
					opacity: 1;
				}
			}

			&:focus,
			&:hover,
			&:not(:placeholder-shown) {
				outline: 0;
				& + label {
					top: 0.2rem;
					font-size: 0.7rem;
					font-weight: 700;
				}
			}

			&:valid,
			&:focus,
			&:hover {
				& ~ span {
					&:before {
						transform: translateX(0);
					}
				}
			}
		}

		& label {
			position: absolute;
			top: 1.2rem;
			left: 1rem;
			font-weight: 100;
			color: var(--grey);

			transition: var(--def-transition);
			transition-duration: 0.1s;
		}

		& svg {
			position: absolute;
			right: 0;
			bottom: 1rem;
			width: 2rem;
			height: 2rem;
			opacity: 0;

			transition: var(--def-transition);
			& g {
				fill: var(--yellow);
			}
		}
	}

	& [type='submit'] {
		display: inline-block;
		min-width: 6rem;
		background: var(--yellow);
		box-shadow: inset 0 0 0 3px var(--yellow);
		color: var(--black);
		font-weight: var(--bold);
		font-size: 1.2rem;
		text-align: center;
		border: 0;
		padding: 1rem 3rem;
		transition: var(--def-transition);

		&:focus,
		&:hover {
			background: var(--white);
		}
	}
}

@media all and (min-width: 40em) {
	.form__container {
		& form {
			padding-left: 7rem;
			font-size: 1.3rem;
		}

		& input,
		& textarea {
			font-size: 1.3rem;
		}
	}
}

@media all and (min-width: 80em) {
	.form__container {
		& img {
			display: block;
			position: absolute;
			/* right: 0; */
			left: 55%;
			top: 30%;

			&:nth-of-type(2) {
				left: 55%;
				top: 10%;
			}
		}
	}
}

/*==========================
=== Footer
===========================*/

.next-step {
	display: flex;
	position: relative;
	justify-content: space-between;
	height: 120%;
	min-height: 7rem;
	margin: 5rem 0;
	& a {
		display: inline-block;
		position: absolute;
		min-width: 6rem;
		/* background: var(--white); */
		background: var(--yellow);
		box-shadow: inset 0 0 0 3px var(--yellow);
		color: var(--black);
		font-weight: var(--bold);
		font-size: 1.2rem;
		text-align: center;
		padding: 1rem 3rem;
		transition: var(--def-transition);
		&:first-of-type {
			/* top: 1rem; */
		}
		&:last-of-type {
			top: 3rem;
			right: 0;
		}
		&:focus,
		&:hover {
			background: var(--white);
		}
	}
}

@media all and (min-width: 40em) {
	.next-step {
		& a {
			min-width: 10rem;
			font-size: 2rem;
			&:first-of-type {
				/* top: 1rem; */
				left: 15%;
			}
			&:last-of-type {
				top: 3rem;
				right: 15%;
			}
		}
	}
}

/*==========================
=== Other
===========================*/

.icon__quote {
	fill: var(--yellow);
}

.hide {
	display: none;
}

.hide-testimonials {
	animation: hide-testimonials 0.4s forwards;
}

.show-testimonials {
	animation: show-testimonials 0.4s forwards;
}

.hide-more-info {
	overflow: hidden;
	animation: hide-more-info 0.4s forwards;
	/* color: red; */
}

.show-more-info {
	overflow: hidden;
	animation: show-more-info 0.4s forwards;
}

.button__more {
	position: absolute;
	left: -2.4rem;
	bottom: 0;
	height: 100%;
	width: 1.3rem;
	color: var(--yellow);
	font-size: 1.2rem;
	background: transparent;
	border: none;
	padding: 0;
	text-transform: uppercase;

	cursor: pointer;
	& span {
		pointer-events: none;
		font-weight: var(--bold);
		position: absolute;
		left: 0;
		bottom: 0;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		text-align: center;
		text-orientation: sideways;
	}
	transition: color var(--def-transition);
	&:focus,
	&:hover {
		color: var(--black);
	}
}

.button__more--black {
	color: var(--black);
	&:focus,
	&:hover {
		color: var(--black);
	}
	& span {
	}
}
