{% extends "base/layout.html" %}

{% import "components/newsItem.html" as item %}

{% block content %}

	<header>
		<h3>{{ pageTitle.toUpperCase() }}</h3>
		<a id="bookmark-link" href="/bookmarks">{{ bookmarks.length }}</a>
	</header>

	<main class="news--overview">
		<header>
			<p>Technology</p>
		</header>

		{% if articles.length %}
			{% for article in articles %}
				{{
					item.newsItem(
						title = article.title,
						author = article.author,
						url = article.url,
						image = article.urlToImage,
						publishedAt = article.publishedAt,
						source = article.source.name
					)
				}}
			{% endfor %}

		{% else %}
			<section class="cover-message">
				<p class="font--light">You have no bookmarks yet. Let’s mark some!</p>
				<a href="/">To news</a>
			</section>

		{% endif %}



	</main>

	<script src="./scripts/bundle.js"></script>

{% endblock %}