{% extends "base/layout.html" %}

{% block content %}
	<section class="intro--page">


		<div class="intro--question">
			<p>What should we call you?</p>
		</div>

		<form>
			<!-- <input type="text" placeholder="Name here"> -->
			<textarea maxlength="20" cols='30' rows='2' placeholder="name here"></textarea>
		</form>

		<a href="/intro-2">countries</a>

		<div class="progress--con">
			<ul>
				<li class="current">1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
			</ul>
		</div>
	</section>
{% endblock %}