:root {
	// Fonts
	--primary-font: "hiragino kaku gothic std", tahoma, arial, sans-serif;
	--sec-font: "kano", georgia, "times new roman", serif;

	// Colors
	--bg-color: #FFFDF8;
	--focus-color: #4A90E2;

	--main-black: #4A4A4A;
	--light-grey: #efefef;
	--grey: #CDCCC9;

	// Text sizes
	--s-text: .8rem;
	--m2-text: 1.5rem;
	--m-text: 2rem;
	--l-text: 3rem;
	--xl-text: 5rem;

	// Spaces
	// --def-margin: 

	--def-transition: all .3s ease-in;
	--def-transition-sel: .3s ease-in;
}

* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	height: 100%;
	font-family: var(--primary-font);
	letter-spacing: 1.5px;
	background: var(--bg-color);
	overflow: hidden;
	margin: 0;
}


body {
	// max-width: 40rem;
	// margin: 0 auto;
	padding: .8rem 1.6rem;
	
	> header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.4em;

		h3 {
			display: inline-block;
			color: var(--grey);
			font-size: var(--s-text);
		}
		div {

			a {
				margin-right: .6em;
			}
		}
	}
}


ul,
h3,
p {
	margin: 0;
	padding: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	color: initial;
	&:visited {
		color: initial;
	}
}

button {
	pointer-events: pointer;
}

/*==========================
=== General
===========================*/

main {
	// display: flex;
	// flex-direction: column;
	// height: 50%;
}

.font--light {
	font-family: var(--sec-font);
}


/*==========================
=== Intro page styling
===========================*/

.progress--con {
	pointer-events: none;
	position: fixed;
	
	right: -1.5em;;
	font-size: var(--l-text);

	li {
		text-align: center;
		color: var(--light-grey);
	}

	.current {
		font-size: 6em;
	}
}

.intro--page {
	display: flex;
	flex-direction: column;
	height: 100%;

	h3 {
		display: inline-block;
		color: var(--grey);
		font-size: var(--s-text);
	}

	form {
		flex: 1;
		z-index: 1;
	}

	li {
		font-family: var(--primary-font);
		font-weight: 900;
		list-style: none;
	}

	// Styling for the first page question (the name)
	textarea {
		max-width: 100%;
		background-color: transparent;
		font-size: var(--xl-text);
		font-weight: 900;
		text-transform: uppercase;
		border: 0;

		resize: none;
	}
	
	a {
		display: inline-block;
		// width: min-content;
		color: var(--grey);
		text-align: right;
		z-index: 1;
		border-bottom: 2px solid var(--focus-color);
		position: relative;

		&:last-of-type {
			margin-left: auto;
		}
		transition: transform var(--def-transition-sel);
	}

	nav {
		display: flex;
		justify-content: space-between;
	}

}

.next-step {
	// transform: translateY(3rem);
}

.intro--question {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	p {
		font-family: var(--sec-font);
		width: 60%;
		font-size: var(--m-text);
		font-weight: 300;
	}
}

.intro--country,
.intro--category {
	li {
		font-family: var(---font-body);
		font-weight: 900;
		text-transform: uppercase;
	}

	label {
		font-size: var(--m-text);
	}

	input {
		position: absolute;
		left: -99999px;
		opacity: 0;
		&:focus,
		&:hover,
		&:active {
			+label {
				color: var(--focus-color);
			}
		}
	}
}

.intro--country {
	margin: 0 -1.6rem;
	
	ul {
		display: flex;
		overflow-x: scroll;
	}

	li {
		padding-right: 22vw;
	}

	p {
		font-size: var(--m2-text);
		color: var(--grey);
	}

	label {
		font-size: var(--l-text);
	}

	@supports (scroll-snap-type: x mandatory) {
		ul {
			scroll-snap-type: x mandatory;
		}

		li {
			scroll-snap-coordinate: 0% 0%;
			scroll-snap-align: start;
			padding-left: 1rem;
		}
	}
}

.intro--category {
	li {
		margin: 1rem 0;
	}
}

/*==========================
=== News overview/list
===========================*/

.news--overview {
	header {
		p {
			font-size: var(--m-text);
		}
	}
}

.news--item {
	position: relative;

	&:first-of-type {
		margin: 1.6rem 0 1rem 0;
	}

	&:not(:first-of-type) {
		margin: 4.2rem 0 1rem 0;
	}

	h3 {
		margin-top: .2em;
	}
	
	p {
		font-family: var(--sec-font);
		letter-spacing: 1.5px;
		margin-top: .6em;
	}

	a {
		&:focus,
		&:hover {
			img {
				box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
				transition: all .3s ease-in;
			}
		}
	}

	img {
		width: 100%;
		border-radius: 3px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}

	button {
		position: absolute;
		top: 1em;
		right: 1em;
		transition: var(--def-transition);

		&:hover,
		&:focus {
			border-left-color: var(--focus-color); 
			border-right-color: var(--focus-color);
			// box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		} 
	}
}

#bookmark-link,
.bookmark {
	position: relative; 
	background: transparent;
	height: 1.6rem; 
	width: .1rem;

	padding: 0px; 
	border: none;
	border-left: .6rem solid var(--grey); 
	border-right: .6rem solid var(--grey); 
	border-bottom: .5rem solid transparent;
	border-radius: 3px;
}

#bookmark-link {
	transition: var(--def-transition);
	&:hover,
	&:focus {
		border-left-color: var(--focus-color); 
		border-right-color: var(--focus-color);
		// box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	} 
}


.bookmark--marked {
	border-left-color: var(--focus-color);
	border-right-color: var(--focus-color);
}



.cover-message {
	// flex: 1;
	a {
		border-bottom: 2px solid var(--focus-color);
	}
}