{% extends "base/layout.html" %}

{% import "components/newsItem.html" as item %}

{% block content %}

	<header>
		<div>
			{% if backBtn %}
				<a href="/">return</a>
			{% endif %}
			<h3>{{ pageTitle.toUpperCase() }}</h3>
		</div>
		<div id="bookmark-link">
			<a href="/bookmarks">
				my <span>{{ bookmarks.length }}</span>
			</a>
			<span></span>
		</div>
	</header>

	<main class="news--overview">
		<header>
			<p>{{ header }}</p>
		</header>

		{% if articles.length %}
			{% for article in articles %}
				{{
					item.newsItem(
						title = article.title,
						author = article.author,
						url = article.url,
						image = article.urlToImage,
						publishedAt = article.publishedAt,
						source = article.source.name,
						showBookmarks = showBookmarks
					)
				}}
			{% endfor %}

		{% else %}
			<section class="cover-message">
				<p class="font--light">You have no bookmarks yet. Let’s mark some!</p>
				<a href="/">To news</a>
			</section>

		{% endif %}



	</main>

	<script src="./scripts/bundle.js"></script>

{% endblock %}